<div class="box">
    <div class="image">
        <div class="content">
            <p class="content-p">Food Hub.... </p>
            <p class="food">Visit our Restaurants</p>
            <span>Food and Drinks...</span>
            <p class="contnt">Welcome to our culinary paradise where you'll find a treasure of variety and taste like
                never before. Dive into a world of tantalizing flavours and creative dishes...</p>
            <div class="button-bar">
                <button class="button-bar1">Reservation</button>
                <button class="button-bar2" routerLink="/home/items">See our Menu</button>
            </div>
        </div>
        <img class="shadow" src="../../../assets/glasses.jpg" alt="">
    </div>
</div>